html, body
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
#menu
{
    height: 12.5%;
    width: 100%;
    background-color: darkkhaki;


    position:fixed;
    top:0;
    left:0;
}
#header
{
    height: 100%;
    width: 39%;
    align-items: center;
    text-align: center;
    font-family: 'Comic Sans MS';
    background-color: gray;
    float:left;
    
    display:flex;
}
#header>h1
{
    margin-left: auto;
    margin-right: auto;
}
#buttons
{
    float: right;
    width: 61%;
}
#content
{
    height: 100%;
    width: auto;
    float: right;
}
#sidebar
{
    height: 100%;
    width: 23%;
    float: left;

    border-right-style: solid;
    border-right-width: 3px;
}
#footer
{
    height: calc(5/34 * 100%);
    width: 100%;
    background-color: gray;
    clear: both;
}